name: Java CI

on:
  push:
    branches:
      - feature/yt_rocketseat
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '23'
          distribution: 'temurin'

      - name: Compile Java code
        run: |
          mkdir -p out
          find app/src -name "*.java" > sources.txt
          javac -d out @sources.txt

      - name: Run application
        run: java -cp out br.com.ivblour.Main

      - name: Install GitHub CLI
        run: sudo apt-get install gh

      - name: Authenticate with GitHub CLI
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh auth login --with-token <<< $GITHUB_TOKEN

      - name: Create pull request
        run: |
          git checkout -b feature/yt_rocketseat
          git push origin feature/yt_rocketseat
          gh pr create --base main --head feature/yt_rocketseat --title "PR para Main" --body "Pull request automatico"
